body{
  width: 375px;
  background-color:hsl(233, 47%, 7%) ;
  font-size: 11px;
}

main{
  width: 337.5px;  
}
.card{  
  width: 337.5px;
  margin-top: 20px;
  margin-left: 5%;
  background-color: rgb(27, 25, 56);
  border-radius: 10px;
  padding-bottom: 20px;
}

.img{
  background-image: url(./images/image-header-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 337.5px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}

.layer{
  background-color:  rgba(73, 8, 114, 0.65);
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 248px;
  margin: 0 auto;
}

.content{
  color: hsl(0,0%, 100%);
  font-size: 15px;
  margin: 5px 15px;
  justify-content: center;
  align-items: center;
}

.content-title{
  font-size: 30px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: -20px;
}

.title-stats{
  color:hsl(277, 64%, 61%); 
}

.content-parag{
  font-family: "Lexend Deca";
  font-size: 15px;
  text-align: center;
  margin: 0 15px 30px 15px;
  font-weight: 400;
  line-height: 2;
  color:hsla(0, 0%, 100%, 0.75);
}

.stats{
  text-align: center;
  margin: 10px 0;
  
}

.content-data{
  font-size: 25px;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.data-stats{
  font-family: "Lexend Deca";
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  color:hsla(0, 0%, 100%, 0.6);
  letter-spacing: 2px;
}

.attribution { font-size: 11px; text-align: center; margin-top:15px;}
.attribution a { color: hsl(228, 45%, 44%); }

/*MEDIA QUERY*/
/*#######################*/

@media screen and (min-width: 1024px) {

  body{
    width: 1440px;
  }

  main{
    width: 1152px;

  }

  .card{
    display: flex;  
    width: 1152px;
    margin: 20vh auto;
    background-color: rgb(27, 25, 56);
    border-radius: 10px;
    flex-direction: row-reverse;
  }

  .img{
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1140px;
    height: 460px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: -20px;
  }
  
  .layer{
    background-color:  rgba(73, 8, 114, 0.65);
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    height: 460px;   
  }

  .content-title{
    font-size: 35px;
    text-align: start;
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 60px;
  }
  .content-parag{
    padding-top: 10px;
    font-family: "Lexend Deca";
    font-size: 15px;
    text-align: start;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 400;
    line-height: 2;
    color:hsla(0, 0%, 100%, 0.75);
  }

  .stats{
    display: flex;
    text-align: start;
    padding-top: 20px;
  }

  .stats-item{
    margin-left: 50px;
  }

  .attribution{
    margin-top: -100px;
  }






}